{{!< default}}

<div class="post-grid">
    {{#foreach posts}}
    <article class="post-card">
        {{#if feature_image}}
        <a href="{{url}}" class="post-card-image-link">
            <img class="post-card-image" src="{{feature_image}}" alt="{{title}}">
        </a>
        {{/if}}
        <div class="post-card-content">
            <h2 class="post-card-title">
                <a href="{{url}}">{{title}}</a>
            </h2>
            {{#if custom_excerpt}}
                <p class="post-card-excerpt">{{custom_excerpt}}</p>
            {{else if excerpt}}
                <p class="post-card-excerpt">{{excerpt words="20"}}</p>
            {{/if}}
        </div>
    </article>
    {{/foreach}}
</div>

{{#if pagination.pages}}
<nav class="pagination">
    {{#if pagination.prev}}
        <a href="{{pagination.prev}}" class="pagination-prev">&larr; Новее</a>
    {{/if}}
    {{#if pagination.next}}
        <a href="{{pagination.next}}" class="pagination-next">Старее &rarr;</a>
    {{/if}}
</nav>
{{/if}}
